#schoolName {
    margin: auto;
    width: 50%;
    border: 3px solid orangered;
    padding: 10px;
    text-align: center;
}

#attendance {
    display: flex;
}

.column {
    flex: 50%;
    text-align: center;
}

#teachers {
    overflow: auto;
    height: 150px;
}

#students {
    overflow: auto;
    height: 150px;
}